# Preparación de ambiente de trabajo

In [1]:
import requests
import pandas as pd
from IPython.display import HTML
API_BASE_URL = "http://django:8080/api"

In [2]:
def df_change_types(dataframe, column_types: dict):
    for column, type in column_types.items():
        dataframe[column] = dataframe[column].astype(type)
    return dataframe

In [3]:
def dataframe_from_api(path):
    return pd.DataFrame(session.get(f"{API_BASE_URL}{path}").json())

In [4]:
def display_full(target):
    return HTML(target.to_html())

# Extracción de datos

In [5]:
auth = requests.post(f"{API_BASE_URL}/auth/login/", {
    "username": "walceli",
    "password": "p4s5w0rD",
})
response = auth.json()
response

{'access_token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjo0ODY2MjgxNTQxLCJpYXQiOjE3MTI2ODE1NDEsImp0aSI6Ijc5NDA3YjEwY2QyMDRkNmU4NGQyNDEwNDg4NzU4NDcxIiwidXNlcl9pZCI6MX0.Ba0ENdyTAp32Peosayjx7lcQDFh6ggXuz-_gST9USPk',
 'refresh_token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTcxMjc2Nzk0MSwiaWF0IjoxNzEyNjgxNTQxLCJqdGkiOiJhZDljNzRiN2M5NGQ0MmEwYTNmNjkyOTExNjA1MTUzYiIsInVzZXJfaWQiOjF9.YNWz0S9BpwR5Nnwj24SqP1MPfzJSBprH_h1zzS-JYTA',
 'permissions': [],
 'rol': None,
 'usuario': {'id': 4,
  'cedula': '0706291218',
  'created': '2024-01-13',
  'modifief': '2024-01-13',
  'user': 1,
  'Id_Hacienda': 1}}

In [6]:
session = requests.Session()
session.headers = {
    "Authorization": f"Bearer {response['access_token']}",
}

In [7]:
areas = dataframe_from_api("/lotes")
areas

,id,Codigo_Lote,Nombre,Variedad,Hectareas,Activo,Id_Proyecto,Id_Usuario,Areas,Poligonos
0,30,A1CZ,Cazadores,Tommy Atkins,None,True,1,None,"[11, 12]",[]
1,31,A2DR,Don Robert,Kent,None,True,1,None,[],[]
2,32,A3CU,Cubana,Tommy Atkins,None,True,1,None,[],[]
3,33,A4LA,Laguna Seca,Ataulfo,None,True,1,None,[13],[]

In [8]:
producciones = dataframe_from_api("/produccion")
producciones

,id,Cantidad,Fecha,FechaRegistro,Activo,Id_Area,Id_Lote,Id_Usuario
0,2,14792.00,2021-11-29,2024-03-21T23:30:23.655227-05:00,True,None,32,None
1,1,11464.00,2020-12-02,2024-03-21T22:25:29.358057-05:00,True,None,32,None
2,3,11420.00,2022-12-21,2024-03-21T23:47:07.980364-05:00,True,None,32,None
3,4,9072.00,2023-11-30,2024-03-21T23:47:46.158338-05:00,True,None,32,None
4,5,11497.00,2020-12-03,2024-03-21T23:48:54.917956-05:00,True,None,30,None
5,6,13805.00,2021-12-04,2024-03-21T23:49:28.217319-05:00,True,None,30,None
6,7,9019.00,2022-11-30,2024-03-21T23:49:54.141377-05:00,True,None,30,None
7,8,8848.00,2023-12-01,2024-03-21T23:50:25.645619-05:00,True,None,30,None
8,9,1677.00,2020-12-04,2024-03-21T23:51:36.322591-05:00,True,None,33,None
9,10,2907.00,2021-11-28,2024-03-21T23:52:02.952069-05:00,True,None,33,None
10,11,1350.00,2022-12-03,2024-03-21T23:53:25.460970-05:00,True,None,33,None
11,12,1450.00,2023-12-03,2024-03-21T23:54:02.602709-05:00,True,None,33,None

In [9]:
datos_clima = dataframe_from_api("/weather/data")
datos_clima

,id,Date_Sync,Date,Date_Arable_Sync,Lat,Lng,LocationID,Device,Precipitation,Temp_Air_Mean,...,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max,Atmospheric_Pressure_Max,Atmospheric_Pressure_Min,Activo,Usuario
0,7198,None,2017-01-05T19:00:00-05:00,None,None,None,None,None,0.0000000000000000,24.00,...,85.00,64.00,96.00,1.03,0.00,3.08,29.91,29.78,True,None
1,7227,None,2017-01-06T19:00:00-05:00,None,None,None,None,None,0.0000000000000000,22.67,...,85.00,67.00,92.00,2.32,0.09,5.72,29.91,29.80,True,None
2,7258,None,2017-01-07T19:00:00-05:00,None,None,None,None,None,0.0000000000000000,22.56,...,86.00,67.00,96.00,1.03,0.00,5.90,29.95,29.80,True,None
3,7289,None,2017-01-08T19:00:00-05:00,None,None,None,None,None,0.0000000000000000,22.44,...,83.00,70.00,92.00,1.70,0.00,5.72,29.96,29.80,True,None
4,7318,None,2017-01-09T19:00:00-05:00,None,None,None,None,None,0.0000000000000000,23.89,...,76.00,48.00,90.00,1.97,0.00,5.72,29.88,29.74,True,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,9475,None,2023-11-24T19:00:00-05:00,None,None,None,None,None,None,26.00,...,51.00,47.00,91.00,2.00,1.00,3.00,None,None,True,None
2298,9476,None,2023-11-25T19:00:00-05:00,None,None,None,None,None,None,25.00,...,65.00,65.00,84.00,2.00,2.00,3.00,None,None,True,None
2299,9477,None,2023-11-26T19:00:00-05:00,None,None,None,None,None,None,25.00,...,57.00,57.00,85.00,2.00,1.00,3.00,None,None,True,None
2300,9478,None,2023-11-27T19:00:00-05:00,None,None,None,None,None,None,26.00,...,49.00,49.00,90.00,2.00,1.00,3.00,None,None,True,None
2301,9479,None,2023-11-28T19:00:00-05:00,None,None,None,None,None,None,23.00,...,68.00,68.00,83.00,2.00,1.00,2.00,None,None,True,None

# Transformación de datos

## Identificación de datos inválidos

In [10]:
variables_ambientales = [
    "Precipitation",
    "Temp_Air_Mean",
    "Temp_Air_Min",
    "Temp_Air_Max",
    "Dew_Temp_Mean",
    "Dew_Temp_Max",
    "Dew_Temp_Min",
    "Relat_Hum_Mean",
    "Relat_Hum_Min",
    "Relat_Hum_Max",
    "Wind_Speed_Mean",
    "Wind_Speed_Min",
    "Wind_Speed_Max",
    "Atmospheric_Pressure_Max",
    "Atmospheric_Pressure_Min",
]

In [11]:
años = datos_clima["Date"].map(lambda v: v[:4])
años

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
2297    2023
2298    2023
2299    2023
2300    2023
2301    2023
Name: Date, Length: 2302, dtype: object

In [12]:
porcentaje_nulos_anuales = datos_clima.isnull().groupby(años).aggregate(lambda series: sum(series)/len(series))
display_full(porcentaje_nulos_anuales)

In [13]:
porcentaje_nulos_anuales.loc["Total"] = \
    porcentaje_nulos_anuales.sum(axis=0, numeric_only=True)/porcentaje_nulos_anuales.count(axis=0, numeric_only=True)
porcentaje_nulos_anuales.loc[:,"Total"] = \
    porcentaje_nulos_anuales.sum(axis=1, numeric_only=True)/porcentaje_nulos_anuales.count(axis=1, numeric_only=True)
display_full(porcentaje_nulos_anuales)

In [14]:
display_full(porcentaje_nulos_anuales.sort_values("Total", ascending=False))

In [15]:
display_full(porcentaje_nulos_anuales.transpose().sort_values("Total", ascending=False))

## Limpieza y eliminación

### Variables

In [16]:
variables_incompletas = [
    "Precipitation",
    "Dew_Temp_Mean",
    "Dew_Temp_Max",
    "Dew_Temp_Min",
    "Atmospheric_Pressure_Max",
    "Atmospheric_Pressure_Min",
]

In [17]:
datos_clima = datos_clima[["Date",*variables_ambientales]]
datos_clima = datos_clima.drop([*variables_incompletas], axis=1)
datos_clima.set_index("Date")
datos_clima

,Date,Temp_Air_Mean,Temp_Air_Min,Temp_Air_Max,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max
0,2017-01-05T19:00:00-05:00,24.00,21.39,29.39,85.00,64.00,96.00,1.03,0.00,3.08
1,2017-01-06T19:00:00-05:00,22.67,21.11,27.00,85.00,67.00,92.00,2.32,0.09,5.72
2,2017-01-07T19:00:00-05:00,22.56,19.78,26.61,86.00,67.00,96.00,1.03,0.00,5.90
3,2017-01-08T19:00:00-05:00,22.44,20.22,25.89,83.00,70.00,92.00,1.70,0.00,5.72
4,2017-01-09T19:00:00-05:00,23.89,20.72,31.78,76.00,48.00,90.00,1.97,0.00,5.72
...,...,...,...,...,...,...,...,...,...,...
2297,2023-11-24T19:00:00-05:00,26.00,21.00,32.00,51.00,47.00,91.00,2.00,1.00,3.00
2298,2023-11-25T19:00:00-05:00,25.00,22.00,28.00,65.00,65.00,84.00,2.00,2.00,3.00
2299,2023-11-26T19:00:00-05:00,25.00,22.00,30.00,57.00,57.00,85.00,2.00,1.00,3.00
2300,2023-11-27T19:00:00-05:00,26.00,22.00,33.00,49.00,49.00,90.00,2.00,1.00,3.00
2301,2023-11-28T19:00:00-05:00,23.00,22.00,26.00,68.00,68.00,83.00,2.00,1.00,2.00

In [18]:
producciones = producciones.drop(["FechaRegistro", "Activo", "Id_Usuario", "id"], axis=1)
producciones

    Cantidad       Fecha Id_Area  Id_Lote
0   14792.00  2021-11-29    None       32
1   11464.00  2020-12-02    None       32
2   11420.00  2022-12-21    None       32
3    9072.00  2023-11-30    None       32
4   11497.00  2020-12-03    None       30
5   13805.00  2021-12-04    None       30
6    9019.00  2022-11-30    None       30
7    8848.00  2023-12-01    None       30
8    1677.00  2020-12-04    None       33
9    2907.00  2021-11-28    None       33
10   1350.00  2022-12-03    None       33
11   1450.00  2023-12-03    None       33

### Registros

In [19]:
datos_clima[datos_clima.isnull().sum(axis=1) > 0]

,Date,Temp_Air_Mean,Temp_Air_Min,Temp_Air_Max,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max
1805,2022-08-19T19:00:00-05:00,None,None,None,None,None,None,None,None,None
1807,2022-08-22T19:00:00-05:00,None,None,None,None,None,None,None,None,None
1830,2022-09-07T19:00:00-05:00,None,None,None,None,None,None,None,None,None

In [20]:
datos_clima = datos_clima.drop(datos_clima[datos_clima.isnull().sum(axis=1) > 0].index)
datos_clima

,Date,Temp_Air_Mean,Temp_Air_Min,Temp_Air_Max,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max
0,2017-01-05T19:00:00-05:00,24.00,21.39,29.39,85.00,64.00,96.00,1.03,0.00,3.08
1,2017-01-06T19:00:00-05:00,22.67,21.11,27.00,85.00,67.00,92.00,2.32,0.09,5.72
2,2017-01-07T19:00:00-05:00,22.56,19.78,26.61,86.00,67.00,96.00,1.03,0.00,5.90
3,2017-01-08T19:00:00-05:00,22.44,20.22,25.89,83.00,70.00,92.00,1.70,0.00,5.72
4,2017-01-09T19:00:00-05:00,23.89,20.72,31.78,76.00,48.00,90.00,1.97,0.00,5.72
...,...,...,...,...,...,...,...,...,...,...
2297,2023-11-24T19:00:00-05:00,26.00,21.00,32.00,51.00,47.00,91.00,2.00,1.00,3.00
2298,2023-11-25T19:00:00-05:00,25.00,22.00,28.00,65.00,65.00,84.00,2.00,2.00,3.00
2299,2023-11-26T19:00:00-05:00,25.00,22.00,30.00,57.00,57.00,85.00,2.00,1.00,3.00
2300,2023-11-27T19:00:00-05:00,26.00,22.00,33.00,49.00,49.00,90.00,2.00,1.00,3.00
2301,2023-11-28T19:00:00-05:00,23.00,22.00,26.00,68.00,68.00,83.00,2.00,1.00,2.00

## Conversión de tipos de datos

In [21]:
producciones = df_change_types(producciones, {
    "Cantidad": float,
    #"Id_Area": int,
    "Id_Lote": int,
})
producciones.dtypes

Cantidad    float64
Fecha        object
Id_Area      object
Id_Lote       int64
dtype: object

In [22]:
datos_clima = df_change_types(datos_clima, {column: float 
    for column in {*variables_ambientales} - {*variables_incompletas}
})
datos_clima.dtypes

Date                object
Temp_Air_Mean      float64
Temp_Air_Min       float64
Temp_Air_Max       float64
Relat_Hum_Mean     float64
Relat_Hum_Min      float64
Relat_Hum_Max      float64
Wind_Speed_Mean    float64
Wind_Speed_Min     float64
Wind_Speed_Max     float64
dtype: object

## Integración y unión

In [23]:
producciones["Variedad"] = producciones.Id_Lote.map(areas.set_index("id")["Variedad"])
producciones

    Cantidad       Fecha Id_Area  Id_Lote      Variedad
0    14792.0  2021-11-29    None       32  Tommy Atkins
1    11464.0  2020-12-02    None       32  Tommy Atkins
2    11420.0  2022-12-21    None       32  Tommy Atkins
3     9072.0  2023-11-30    None       32  Tommy Atkins
4    11497.0  2020-12-03    None       30  Tommy Atkins
5    13805.0  2021-12-04    None       30  Tommy Atkins
6     9019.0  2022-11-30    None       30  Tommy Atkins
7     8848.0  2023-12-01    None       30  Tommy Atkins
8     1677.0  2020-12-04    None       33       Ataulfo
9     2907.0  2021-11-28    None       33       Ataulfo
10    1350.0  2022-12-03    None       33       Ataulfo
11    1450.0  2023-12-03    None       33       Ataulfo

## Agrupamiento

In [24]:
producciones["años"] = producciones["Fecha"].map(lambda fecha: fecha[:4]).astype(int)
producciones.index = pd.MultiIndex.from_arrays(producciones[["Id_Lote", "años"]].values.T)
producciones.drop(["años", "Id_Lote"], axis=1, inplace=True)
producciones

         Cantidad       Fecha Id_Area      Variedad
32 2021   14792.0  2021-11-29    None  Tommy Atkins
   2020   11464.0  2020-12-02    None  Tommy Atkins
   2022   11420.0  2022-12-21    None  Tommy Atkins
   2023    9072.0  2023-11-30    None  Tommy Atkins
30 2020   11497.0  2020-12-03    None  Tommy Atkins
   2021   13805.0  2021-12-04    None  Tommy Atkins
   2022    9019.0  2022-11-30    None  Tommy Atkins
   2023    8848.0  2023-12-01    None  Tommy Atkins
33 2020    1677.0  2020-12-04    None       Ataulfo
   2021    2907.0  2021-11-28    None       Ataulfo
   2022    1350.0  2022-12-03    None       Ataulfo
   2023    1450.0  2023-12-03    None       Ataulfo

## Sumarización

In [25]:
datos_clima_promedios = datos_clima.groupby(años).mean(numeric_only=True)
datos_clima_promedios.index = datos_clima_promedios.index.astype(int)
datos_clima_promedios

,Temp_Air_Mean,Temp_Air_Min,Temp_Air_Max,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max
Date,,,,,,,,,
2017,23.756970,20.521515,29.672424,79.839827,56.103896,92.857143,1.531732,0.013939,5.181299
2018,24.364903,21.160056,30.368607,78.718663,53.275766,93.183844,1.330056,0.001114,5.526602
2019,25.014582,22.010720,31.257176,81.489914,54.786744,94.916427,1.321585,0.000893,6.041700
2020,25.185706,21.579307,32.092853,80.083102,51.911357,95.285319,1.311385,0.000000,6.249529
2021,24.789749,21.532508,31.293918,82.473354,55.360502,96.000000,0.634953,0.000000,4.984169
2022,24.146771,20.744800,30.510371,67.148571,44.865714,92.354286,1.230943,0.469114,4.391000
2023,25.346386,21.165663,31.138554,55.328313,53.707831,89.397590,1.554217,1.096386,2.433735

In [26]:
datos_clima_suma = datos_clima.groupby(años).sum(numeric_only=True)
datos_clima_suma.index = datos_clima_suma.index.astype(int)
datos_clima_suma

,Temp_Air_Mean,Temp_Air_Min,Temp_Air_Max,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max
Date,,,,,,,,,
2017,5487.86,4740.47,6854.33,18443.0,12960.0,21450.0,353.83,3.22,1196.88
2018,8747.00,7596.46,10902.33,28260.0,19126.0,33453.0,477.49,0.40,1984.05
2019,8680.06,7637.72,10846.24,28277.0,19011.0,32936.0,458.59,0.31,2096.47
2020,9092.04,7790.13,11585.52,28910.0,18740.0,34398.0,473.41,0.00,2256.08
2021,7907.93,6868.87,9982.76,26309.0,17660.0,30624.0,202.55,0.00,1589.95
2022,8451.37,7260.68,10678.63,23502.0,15703.0,32324.0,430.83,164.19,1536.85
2023,8415.00,7027.00,10338.00,18369.0,17831.0,29680.0,516.00,364.00,808.00

# Carga de datos

In [27]:
import os
os.makedirs("etlData", exist_ok=True)

In [28]:
datos_clima.to_pickle("etlData/datos_clima.pickle")
producciones.to_pickle("etlData/producciones.pickle")
datos_clima_promedios.to_pickle("etlData/datos_clima_promedios.pickle")
datos_clima_suma.to_pickle("etlData/datos_clima_suma.pickle")